<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>testing-service</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css"/>
</head>
<body class="background-gradient">
<div class="container">
    <div class="login-wrapper">
        <form method="POST" th:action="@{/login}">
            <h2 class="login-form-title">Login</h2>

            <div class="wrap-input">
                <label class="label" for="username">Username: </label>
                <input class="input" type="text" name="username" id="username" required minlength="4" maxlength="100" placeholder="Type your username...">
            </div>

            <div class="wrap-input">
                <label class="label" for="password">Password: </label>
                <input class="input" type="password" name="password" id="password" required minlength="4" maxlength="100" placeholder="Type your password...">
            </div>

            <div class="wrap-input">
            <input type="submit" value="Log in" class="button login-button">
            </div>

            <div class="wrap-input register-link">
                <p>New here? Click
                    <a th:href="@{/register}">here</a> to register.
                </p>
            </div>
        </form>
    </div>
</div>
</body>
</html>