<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing-service</title>
</head>
<body>
  <h2>Login</h2>

  <p>new here? click
    <a th:href="@{/register}">here</a> to register.
  </p>

  <form method="POST" th:action="@{/login}">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required minlength="4" maxlength="100">

    <label for="password">Password: </label>
    <input type="text" name="password" id="password" required minlength="4" maxlength="100">

    <input type="submit" value="Log in">
  </form>
</body>
</html>