<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing-service</title>
</head>
<body>
  <h2>Login</h2>

  <p>new here? click
    <a th:href="@{/register}">here</a> to register.
  </p>

  <form method="POST" th:action="@{/login}">
    <label for="username">username: </label>
    <input type="text" name="username" id="username">

    <label for="password">password: </label>
    <input type="text" name="password" id="password">

    <input type="submit" value="Login">
  </form>
</body>
</html>